/* Demo CSS */



/*
----------------------------------------
CSS Order of operations:
1. Stylesheet
2. Document Style
3. Element Style
----------------------------------------
*/

/* Inline vs Block Elements */
* {
    box-sizing: border-box;
}

body {
    font-family: "Playwright", system-ui;
    font-weight: 100;
    font-color: 1em;
    background-color: rgb(31, 19, 82);
}
header {
    font-size: 30px;
}
li {
    font-size: 25px;
}

h1, h2, h3 {
    font-size: 50px;
    color: rgb(219, 9, 9); 
}

header > nav {
    background-color: rgb(74, 59, 121);
    padding: 1em;
}

p {
    background-color: rgb(159, 144, 218);
    color: rgb(255, 255, 255);
    font-size: 25.5px;
}

/* Class selection */

.flex-daddy {
    display: flex; 
}

.content {
    border: solid 1px black;
    padding: 1em;
    width: 50%;
}