/* Demo CSS */



/*
----------------------------------------
CSS Order of operations:
1. Stylesheet
2. Document Style
3. Element Style
----------------------------------------
*/

/* Inline vs Block Elements */
* {
    box-sizing: border-box;
}

body {
    font-family: "Playwright", system-ui;
    font-weight: 300;
    font-color: 1em;
    background-color: rgb(31, 19, 82);
}
header {
    font-size: 30px;
}
li {
    font-size: 25px;
}

h1, h2, h3, h4, h5, h6, h6, {
    font-size: 20px;
}

header > nav {
    background-color: rgb(38, 23, 88);
    padding: 1em;
}

p {
    background-color: rgb(49, 33, 110);
    color: rgb(255, 255, 255);
}

/* Class selection */

.flex-daddy {
    display: flex; 
}

.content {
    border: solid 1px black;
    padding: 1em;
    width: 75%;
}