/* Demo CSS */



/*
----------------------------------------
CSS Order of operations:
1. Stylesheet
2. Document Style
3. Element Style
----------------------------------------
*/

/* Inline vs Block Elements */
* {
    box-sizing: border-box;
}

body {
    font-family: "Playwright", system-ui;
    font-weight: 100;
    font-color: 1em;
    background-color: rgb(31, 19, 82);
}
header {
    font-size: 30px;
}
li {
    font-size: 25px;
}

h1, h2, h3, h4 {
    font-size: 20px;
    color: rgb(219, 9, 9); 
}

h5, h6 {
    font-size: 20px;
    color: rgb(215, 239, 57);
}

h7, h8, h9, h10, h0 {
    font-size: 20px;
    color: rgb(255, 57, 225);
}

h11, h12, h13 {
    font-size: 20px;
    color: blue;
}

header > nav {
    background-color: rgb(38, 23, 88);
    padding: 1em;
}

p {
    background-color: rgb(159, 144, 218);
    color: rgb(255, 255, 255);
    font-size: 25.5px;
}

/* Class selection */

.flex-daddy {
    display: flex; 
}

.content {
    border: solid 1px black;
    padding: 1em;
    width: 50%;
}