/* build.css */



/*
----------------------------------------
CSS Order of operations:
1. Stylesheet
2. Document Style
3. Element Style
----------------------------------------
*/

/* Inline vs Block Elements */
* {
    box-sizing: border-box;
}

body {
    font-family: "Playwright", system-ui;
    font-weight: 100;
    font-color: rgb(0, 0, 0);
    background-color: #4c5f77;
}
header {
    font-size: 30px;
}
li {
    font-size: 25px;
}

h1, h2, h3, h4 {
    font-size: 50px;
    color: #ffffff; 
}

header > nav {
    background-color: #1f3044;
    padding: 1em;
}

p {
    background-color: #4c5f77;
    color: #ffffff;
    font-size: 25.5px;
}

/* Class selection */

.flex-daddy {
    display: flex; 
}

.content {
    border: solid 1px black;
    padding: 1em;
    width: 50%;
}